@page "/sellproduct"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient Http
@inject NavigationManager navigator
@attribute [Authorize]

<h3>Sell</h3>

@if (sell == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <QuickGrid Items="@sell.AsQueryable()" Pagination="@pagination" Virtualize="true" ResizableColumns Theme="corporate">
             @*<PropertyColumn Property="@(p => p.Id)"></PropertyColumn >*@
            <PropertyColumn Property="@(p => p.Name)" Sortable="true" Class="heders"></PropertyColumn>
            <PropertyColumn Property="@(p => p.Quantity)" Class="heders"></PropertyColumn>
            <PropertyColumn Property="@(p => p.Profit)" Class="heders"></PropertyColumn>
            <PropertyColumn Property="@(p => p.SellePriceBrutto)" Class="heders"></PropertyColumn>
            <PropertyColumn Property="@(p => p.PurchasePriceNetto)" Class="heders"></PropertyColumn>
            <PropertyColumn Property="@(p => p.GTU)" Class="heders"></PropertyColumn>
            <PropertyColumn Property="@(p => p.dateTimeSell)" Class="heders"></PropertyColumn>
            <PropertyColumn Property="@(p => p.EAN)" Class="heders"></PropertyColumn>
             <TemplateColumn Title="Actions">
                 
                 <button class="btn btn-dark">Edit</button>
                 <button class="btn btn-danger">Delete</button>
             </TemplateColumn>
         </QuickGrid>
    <Paginator Value="@pagination" />


}

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    WarhauseASP.Shared.Sell[]? sell;
    protected override async Task OnInitializedAsync()
    {
        sell = await Http.GetFromJsonAsync<WarhauseASP.Shared.Sell[]>("api/Warhause/Sell");
    }
}
